# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual mühit
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
media/
*.log

# Mühit dəyişənləri
.env

# Node / Tailwind
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
